<div
  class="sticky top-0 z-30 w-full bg-base-100 shadow-sm px-4 flex items-center justify-between"
>
  <!-- Menú hamburguesa solo visible en móvil -->
  <div class="navbar-start">
    <!-- Logo -->
    <div class="pl-2">
      @if (theme() === 'coffee') {
      <img
        [routerLink]="['/']"
        class="cursor-pointer"
        width="90"
        src="logo-dark.svg"
        alt="Logo dark"
      />
      } @else {
      <img
        [routerLink]="['/']"
        class="cursor-pointer"
        width="90"
        src="logo-light.svg"
        alt="Logo light"
      />
      }
    </div>
  </div>

  <!-- Buscador y menú horizontal visible solo en desktop -->
  <div class="navbar-center hidden lg:flex flex-col gap-1">
    <!-- Buscador -->
    <div class="relative w-140">
      <label class="input w-full">
        <search-input (value)="productQuery.set($event)" />
      </label>

      @if (productNameResource.value() && productQuery() !== '') {
      <ul
        class="flex items-center menu absolute left-0 mt-1 w-full bg-base-100 shadow rounded-box z-30 max-h-60 overflow-y-auto overflow-x-hidden"
      >
        @for (product of productNameResource.value()?.products; track
        product.id) {
        <li>
          <a [routerLink]="[`/product/${product.name}`]">
            {{ product.name }}
          </a>
        </li>
        }
      </ul>
      }
    </div>
  </div>

  <!-- Íconos -->
  <div class="navbar-end gap-2">
    <button class="btn btn-ghost btn-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </button>

    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
          />
        </svg>
        <span class="badge badge-xs badge-primary indicator-item"></span>
      </div>
    </button>

    <button class="btn btn-ghost btn-circle">
      <theme-controller (selectTheme)="setTheme($event)" />
    </button>
  </div>
</div>
