<div class="laptop:ml-100 flex justify-center tablet:py-5 overflow-x-hidden">
  <div
    class="min-h-screen flex flex-col tablet:grid tablet:grid-cols-1 xl:grid-cols-5 xl:p-5"
  >
    <!-- Imagen a la izquierda -->
    <div class="ml-4 col-span-1 xl:col-span-2">
      <product-image
        [imageName]="productName()!"
        [imageSrc]="product().imageUrl!"
        class="w-full max-w-md"
      ></product-image>
    </div>

    <!-- Stats a la derecha, más pequeños -->
    <div class="col-span-1 tablet:col-start-2 xl:col-span-2">
      <div class="grid grid-cols-1 tablet:grid-cols-4 tablet:gap-60">
        <div class="flex flex-col gap-y-10 col-span-1 py-5">
          <div
            class="card w-70 tablet:w-120 bg-base-100 card-sm tablet:card-md shadow"
          >
            <div class="card-body">
              <h1 class="card-title text-xl tablet:text-2xl">
                {{ product().product }} | {{ product().shop }}
              </h1>

              <div class="justify-end items-center pt-5 card-actions">
                <p class="flex">
                  <span class="text-2xl tablet:text-2xl font-bold">
                    {{ product().price | currency : "CLP" : "symbol-narrow" }}
                  </span>
                </p>

                <div class="badge badge-lg tablet:badge-md badge-neutral">
                  <span class="text-2xl tablet:text-2xl">{{
                    product().type
                  }}</span>
                </div>
              </div>
            </div>
          </div>

          <div
            class="card w-70 tablet:w-120 bg-base-100 card-sm tablet:card-md shadow-md"
          >
            <div class="card-body">
              <h2 class="card-title text-2xl tablet:text-2xl">
                Disponible en:
              </h2>
              <div class="flex flex-col items-center gap-2 justify-center">
                <button
                  class="tooltip py-4 tooltip-right"
                  data-tip="Información de la tienda:"
                  (click)="openShopModal()"
                >
                  <img
                    [srcset]="getImageUrl(product().shop!)"
                    [alt]="product()!.shop"
                    class="h-50 w-50 tablet:h-50 tablet:w-50 bg-slate-100 rounded-sm object-contain"
                  />
                </button>

                @if(isShopModalOpen()){
                <shop-modal
                  (isModalChecked)="closeModal($event)"
                  [shop]="product().shop"
                />
                }
                <a
                  [href]="product().link"
                  class="w-60 tablet:w-100 h-13 text-2xl tablet:text-xl font-bold btn btn-primary"
                >
                  Ir a {{ product().shop }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
