<div class="">
  <div
    class="grid grid-cols-1 tablet:grid-cols-3 gap-6 py-10 max-w-7xl mx-auto px-4 items-start"
  >
    <div class="flex justify-center col-span-1 tablet:col-span-3">
      <div class="aura aura-gold">
        <main-card />
      </div>
    </div>

    @if (isMobile()) {
      <div class="drawer">
        <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <label for="filter-drawer" class="btn btn-ghost drawer-button"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M6 4.75A.75.75 0 0 1 6.75 4h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 4.75ZM6 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 10Zm0 5.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75a.75.75 0 0 1-.75-.75ZM1.99 4.75a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1v-.01ZM1.99 15.25a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1v-.01ZM1.99 10a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1V10Z"
                clip-rule="evenodd"
              />
            </svg>
            Filtros
          </label>
        </div>

        <div class="drawer-side">
          <label
            for="filter-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"
          ></label>
          <ul class="menu min-h-full w-50">
            <!-- Sidebar content here -->
            <app-perfume-filters
              (onFiltersChange)="updateFilters($event)"
              class="block"
            />
          </ul>
        </div>
      </div>
      <products
        class="flex-1"
        [currentPage]="currentPage()!"
        [activeFilters]="activeFilters()"
      />
    } @else {
      <div class="flex items-start gap-6 tablet:col-span-3">
        <div class="hidden tablet:block w-1/5">
          <app-perfume-filters
            (onFiltersChange)="updateFilters($event)"
            class="block p-0"
          />
        </div>
        <products
          class="flex-1"
          [currentPage]="currentPage()!"
          [activeFilters]="activeFilters()"
        />
      </div>
    }

    <div class="tablet:col-span-3 flex justify-center tablet:ml-52 mt-4">
      <page-controller
        [totalPages]="totalPages()"
        [currentPage]="currentPage()!"
      />
    </div>
  </div>
</div>
