/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme{
  --font-sans: 'Inter', system-ui, sans-serif;

  --breakpoint-desktop: 120rem; /* 1920px / 16 */
  --breakpoint-laptop: 80rem;   /* 1280px / 16 */
  --breakpoint-tablet: 48rem;   /* 768px  / 16 */
  --breakpoint-mobile: 24.5625rem; 
}

@plugin "daisyui"{
    themes: all
}

@view-transition {
  navigation: auto
}

